.DS_Store
.keres
convnet_from_scratch.keras

# Ignore image files in a specific directory
src/dataset/train/*.jpg
src/dataset/train/*.jpeg
src/dataset/train/*.png
src/dataset/train/*.gif

src/dataset/validation/*.jpg
src/dataset/validation/*.jpeg
src/dataset/validation/*.png
src/dataset/validation/*.gif
